<h2>User List</h2>
<div class="container">
  <div *ngFor="let customer of customers">
    <div>
      <mat-card>
        <div style="text-align: right">
          <mat-icon (click)="approve(customer)" >edit</mat-icon>
        </div>
        <div>Name : {{ customer.fist_name +"  "+ customer.last_name }}</div>
        <div>state : {{ customer.state }}</div>
        <div>City : {{ customer.city }}</div>
        <div>Gender : {{ customer.gender }}</div>
        <div>Contact : {{ customer.contact_no }}</div>
        <div>Email : {{ customer.email }}</div>

      </mat-card>
    </div>
  </div>
</div>

